*.pyc
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*~
.*sw?
\#*
.DS_Store
*.idb
*.pdb
.idea/
*.dvi
*.lol
html
latex
html/
latex/
*.db
*.ini
tweets-2*
tweets-100k.txt
*0k.txt
tweets-a*
.gradle
build
gradle
gradlew.bat
gradlew